.env

/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
/secrets.yaml

esphome/**
homeassistant/**
homeautomation/**
vscode/**
app-daemon/**
espcam/**
hassio/**
mariadb/**
node-red/**
scripts/**
